*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color:rgb(213, 213, 215);
}
body{
  margin: 0 20%;
  justify-content: center;
}
#title{
  text-align: center;
  font-family: "Sofia", sans-serif; 
  font-size:35px;
  
  padding-bottom: 10px;
  

}
#quote{
  text-align: center;
 
  font-family:"Sofia", sans-serif;
  font-weight:bold;
  font-size:20px;
  margin-top: 3px;
  margin-bottom: 10px;

}
.center {
  display: block;
  max-width: 50%;
  height: auto;
  margin-left:auto;
  margin-right:auto;
  
}


#tribute-info{
  text-align: center;
  font-size: 20px;
  font-family: "Sofia", sans-serif;
  padding-top: 14px;
}

.about{
  
  box-shadow:20px 20px 30px grey ;
  margin-top:  30px;

}
.date{
  font-size:11px;
  font-weight: bold;
  font-family:Fantasy;
  padding:10px 10px  ;
}
.text{
  
  padding:15px;
  font-family: cursive;
  
}

h5{
   
  margin-top: 50px;
  text-align:center;
  font-size: 15px;
  font-family:"Sofia", sans-serif;
  padding-bottom: 5px;
}

footer h3{
  text-align :center;
  font-family:"Sofia", sans-serif;
  padding-bottom: 15px;
  font-size: 15px;
}

h4{
  text-align :center;
  font-family:"Sofia", sans-serif;
  font-size: 15px;
  color:rgb(213, 213, 215 );
}

.time-line-box {
  height: 100px; 
  padding: 100px 0;
  width: 100%;
  padding-top:10px;
  background-color: rgb(213, 213, 215);
}

.time-line-box .timeline {
  list-style-type: none;
  display: flex;
  padding: 0;
  text-align: center;
}

.time-line-box .timestamp {
  margin: auto;
  margin-bottom: 5px;
  padding: 0px 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-line-box .status {
  padding: 0px 10px;
  display: flex;
  justify-content: center;
  border-top: 3px solid #060606;
  position: relative;
  transition: all 200ms ease-in;
  color:  rgb(213, 213, 215);
}
.time-line-box .status span {
  padding-top: 8px;
}
.time-line-box .status span:before {
  content: '';
  width: 12px;
  height: 12px;
  background-color: #060606;
  border-radius: 12px;
  border: 2px solid #000000;
  position: absolute;
  left: 50%;
  top: 0%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: all 200ms ease-in;
}

.swiper-container {
  width: 95%; 
  margin: auto;
  overflow-y: auto;
}
.swiper-wrapper{
  display: inline-flex;
  flex-direction: row;
  overflow-y:auto;
  justify-content: center;
}
.swiper-container::-webkit-scrollbar-track{
   background:#a8a8a8b6;
}
.swiper-container::-webkit-scrollbar{
  height: 2px;
}
.swiper-container::-webkit-scrollbar-thumb{
   background: #4F4F4F !important;
}
.swiper-slide {
  text-align: center;
  font-size: 12px;
  width: 200px;
  height: 100%;
  position: relative;
}